- name: "Post-Install system tools and environment"
  hosts: 'all'
  gather_facts: false
  remote_user: startx
  become_method: sudo
  become: yes
  vars:
    project_repository: https://github.com/startxfr/containers-engines.git
    project_tmp_dir: /tmp/containers-engines
  tasks:
  - name: Create a copy of containers-engines in tmp/
    git:
      repo: "{{ project_repository }}"
      dest: "{{ project_tmp_dir }}"
  - name: Change {{ project_tmp_dir }} permissions
    file:
      path: "{{ project_tmp_dir }}"
      recurse: yes
      mode: 'u=rwX,g=rX,o=rX'
  - name: Remove containers-engines in /root
    file:
      path: /root/containers-engines
      state: absent